<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Librarian Dashboard</title>
    <div th:replace="~{layout :: header_head}"></div>
</head>
<body>
<div th:replace="~{layout :: header}"></div>

<main class="container my-5">
    <h2 class="text-white mb-4">Bảng điều khiển Thủ thư</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Quản lý yêu cầu mượn</h5>
                    <a th:href="@{/librarian/borrows}" class="btn btn-info btn-sm">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Quản lý sách</h5>
                    <a th:href="@{/librarian/books}" class="btn btn-info btn-sm">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{layout :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>